.header
  = link_to user_path(current_user.id), class:"header__text" do
    家計簿アプリ
  .header__link
    = link_to edit_user_path(current_user),class:"header__link__name" do
      = current_user.name
    = link_to new_thing_path ,class:" header__link__write" do
      記帳する