.main
  .header
    .header__text
      家計簿アプリ
    .header__link
      = link_to things_path ,class:" header__link__write" do
        記帳する
  .body
    .body__frame
      .body__frame__content
        .body__frame__content__name
          プロテイン
        .body__frame__content__price
          ¥ 5,000
    
       
        