= render "header"
.body
  .body__frame
    - @things.each do |thing|
      .body__frame__content
        .body__frame__content__name
          = thing.name
        .body__frame__content__price
          ¥
          = thing.price
   